@{
    ViewData["Title"] = "Home Page";
}

@model List<Categoria>

<h2>Categorías</h2>

@if (Model.Any())
{
    <div>
        @foreach (var categoria in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h5>@categoria.Nombre</h5>
                        <a asp-controller="Producto" asp-action="PorCategoria" asp-route-id="@categoria.Id"
                            class="btn btn-primary">
                            Ver productos
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-warning" style="width: 50%; margin: 1em auto !important;text-align: center;">
        <p>No hay categorias aun.</p>
    </div>
}
